
.cc_003{
	background-color: #ff9ec9;
}
.cc_004{
	background-color: #cf005b;
}
.cc_005{
	background-color: #ff47e3;
}
.cc_007{
	background-color: #99a3ff;
}
.cc_008{
	background-color: #b50900;
}
.cc_009{
	background-color: #c41200;
}
.cc_011{
	background-color: #ca0f86;
}
.cc_012{
	background-color: #660057;
}
.cc_013{
	background-color: #ff7100;
}
.cc_014{
	background-color: #f500d0;
}
.cc_015{
	background-color: #0fff00;
}
.cc_016{
	background-color: #f5f584;
}
.cc_017{
	background-color: #f0ad00;
}
.cc_018{
	background-color: #ffef2d;
}
.cc_019{
	background-color: #ffed00;
}
.cc_020{
	background-color: #ffff36;
}
.cc_021{
	background-color: #ffe644;
}
.cc_022{
	background-color: #fffa4f;
}
.cc_023{
	background-color: #ff690a;
}
.cc_024{
	background-color: #ff998f;
}
.cc_025{
	background-color: #ff690a;
}
.cc_026{
	background-color: #fff00d;
}
.cc_027{
	background-color: #ed5100;
}
.cc_028{
	background-color: #e89e00;
}
.cc_029{
	background-color: #fcd7a7;
}
.cc_030{
	background-color: #fe443a;
}
.cc_031{
	background-color: #cc1f2f;
}
.cc_032{
	background-color: #cf0076;
}
.cc_033{
	background-color: #ff29e8;
}
.cc_034{
	background-color: #b30098;
}
.cc_035{
	background-color: #6e8cff;
}
.cc_036{
	background-color: #f54c00;
}
.cc_037{
	background-color: #2800b0;
}
.cc_038{
	background-color: #de004b;
}
.cc_039{
	background-color: #3f0073;
}
.cc_040{
	background-color: #4a1a00;
}
.cc_041{
	background-color: #3d5200;
}
.cc_042{
	background-color: #f7d08d;
}
.cc_043{
	background-color: #600000;
}
.cc_044{
	background-color: #7e4531;
}
.cc_050{
	background-color: #7700bd;
}
.cc_051{
	background-color: #0900e6;
}
.cc_052{
	background-color: #0079db;
}
.cc_053{
	background-color: #0031ad;
}
.cc_054{
	background-color: #5496ff;
}
.cc_055{
	background-color: #0020fa;
}
.cc_056{
	background-color: #00ffff;
}
.cc_057{
	background-color: #0a4fff;
}
.cc_058{
	background-color: #284156;
}
.cc_059{
	background-color: #008087;
}
.cc_061{
	background-color: #ccff17;
}
.cc_062{
	background-color: #33ff1a;
}
.cc_063{
	background-color: #798200;
}
.cc_064{
	background-color: #74f200;
}
.cc_065{
	background-color: #467a40;
}
.cc_066{
	background-color: #46bb00;
}
.cc_067{
	background-color: #009864;
}
.cc_068{
	background-color: #00912a;
}
.cc_069{
	background-color: #4bab60;
}
.cc_070{
	background-color: #f8f6ea;
}
.cc_071{
	background-color: #fffdef;
}
.cc_072{
	background-color: #00227b;
}
.cc_073{
	background-color: #000000;
}
.cc_074{
	background-color: #00193f;
}
.cc_075{
	background-color: #00471d;
}
.cc_076{
	background-color: #006651;
}
.cc_077{
	background-color: #102e14;
}
.cc_078{
	background-color: #636363;
}
.cc_079{
	background-color: #525b5c;
}
.cc_080{
	background-color: #e3e8ff;
}
.cc_081{
	background-color: #5f00d9;
}
.cc_082{
	background-color: #84878a;
	background-image: url("img/metalic.png");
}
.cc_084{
	background-color: #8f7c4b;
	background-image: url("img/metalic.png");
}
.cc_087{
	background-color: #93664b;
	background-image: url("img/metalic.png");
}
.cc_088{
	background-color: #960090;
}
.cc_089{
	background-color: #dba8ff;
}
.cc_090{
	background-color: #69edff;
}
.cc_091{
	background-color: #5effd1;
}
.cc_092{
	background-color: #009e78;
}
.cc_094{
	background-color: #004ecc;
}
.cc_095{
	background-color: #0078b8;
}
.cc_096{
	background-color: #4fffa1;
}
.cc_097{
	background-color: #007755;
}
.cc_098{
	background-color: #0affe3;
}
.cc_099{
	background-color: #009180;
}
.cc_100{
	background-image: url("img/100.png");
}
.cc_101{
	background-image: url("img/101.png");
}
.cc_105{
	background-color: #b100bd;
}
.cc_108{
	background-color: #b50900;
}
.cc_111{
	background-color: #fff6d0;
}
.cc_112{
	background-color: #fff7b2;
}
.cc_113{
	background-color: #ffe34f;
}
.cc_116{
	background-color: #ffab54;
}
.cc_118{
	background-color: #ffb800;
}
.cc_120{
	background-color: #ff8d6d;
}
.cc_121{
	background-color: #a4343a;
}
.cc_122{
	background-color: #ff291f;
}
.cc_123{
	background-color: #f5002f;
}
.cc_124{
	background-color: #cf0076;
}
.cc_125{
	background-color: #ff291f;
}
.cc_126{
	background-color: #ffc900;
}
.cc_129{
	background-color: #b30098;
}
.cc_130{
	background-color: #ffbff5;
}
.cc_131{
	background-color: #cf00c0;
}
.cc_132{
	background-color: #fa63ff;
}
.cc_133{
	background-color: #e89eff;
}
.cc_134{
	background-color: #ead3e2;
}
.cc_135{
	background-color: #99a3ff;
}
.cc_136{
	background-color: #e2382a;
}
.cc_138{
	background-color: #99a3ff;
}
.cc_139{
	background-color: #0500ff;
}
.cc_140{
	background-color: #9bb8d3;
}
.cc_141{
	background-color: #69edff;
}
.cc_142{
	background-color: #0055c9;
}
.cc_143{
	background-color: #0a4fff;
}
.cc_145{
	background-color: #003b5c;
}
.cc_147{
	background-color: #2bffc9;
}
.cc_148{
	background-color: #9bd3dd;
}
.cc_150{
	background-color: #009e78;
}
.cc_151{
	background-color: #82ffb8;
}
.cc_152{
	background-color: #95ab00;
}
.cc_153{
	background-color: #00b53c;
}
.cc_154{
	background-color: #ccff17;
}
.cc_155{
	background-color: #6bc200;
}
.cc_156{
	background-color: #aee67c;
}
.cc_157{
	background-image: url("img/157.png");
}
.cc_158{
	background-color: #33ff1a;
}
.cc_160{
	background-image: url("img/160.png");
}
.cc_161{
	background-color: #4a1a00;
}
.cc_162{
	background-color: #fae6c0;
}
.cc_164{
	background-image: url("img/164.png");
}
.cc_167{
	background-color: #00c21d;
}
.cc_170{
	background-color: #ffffff;
}
.cc_171{
	background-color: #ffffff;
}
.cc_172{
	background-image: url("img/172.png");
}
.cc_173{
	background-color: #000000;
}
.cc_174{
	background-color: #525b5c;
	background-image: url("img/174.png");
}
.cc_175{
	background-color: #000000;
	background-image: url("img/175.png");
}
.cc_176{
	background-color: #f0ebe9;
}
.cc_177{
	background-color: #525b5c;
}
.cc_178{
	background-color: #7a8077;
}
.cc_179{
	background-color: #2d393b;
	background-image: url("img/179.png");
}
.cc_180{
	background-image: url("img/180.png");
}
.cc_181{
	background-image: url("img/181.png");
}
.cc_182{
	background-image: url("img/182.png");
}
.cc_183{
	background-color: #8f7c4b;
	background-image: url("img/metalic.png");
}
.cc_184{
	background-image: url("img/184.png");
}
.cc_185{
	background-image: url("img/185.png");
}
.cc_186{
	background-image: url("img/186.png");
}
.cc_187{
	background-image: url("img/187.png");
}
.cc_188{
	background-image: url("img/188.png");
}
.cc_189{
	background-image: url("img/189.png");
}
.cc_190{
	background-color: #4fedff;
}
.cc_196{
	background-color: #4fffa1;
}
.cc_199{
	background-color: #009180;
}
.cc_202{
	background-color: #ffffff;
}
.cc_204{
	background-color: #ff0061;
}
.cc_211{
	background-color: #7700bd;
}
.cc_215{
	background-color: #00f723;
}
.cc_216{
	background-color: #00b53c;
}
.cc_219{
	background-color: #fff700;
}
.cc_220{
	background-color: #ffcf00;
}
.cc_221{
	background-color: #ffd433;
}
.cc_222{
	background-color: #fff2b0;
}
.cc_223{
	background-color: #78004f;
}
.cc_224{
	background-color: #ffcc70;
}
.cc_225{
	background-color: #ff991a;
}
.cc_227{
	background-color: #ffbff5;
}
.cc_228{
	background-color: #f54c00;
}
.cc_229{
	background-color: #e33000;
}
.cc_230{
	background-color: #ff1a24;
}
.cc_231{
	background-color: #ffbde6;
}
.cc_232{
	background-color: #ff0052;
}
.cc_233{
	background-color: #ff6bf7;
}
.cc_234{
	background-color: #69005e;
}
.cc_235{
	background-color: #a4a6ed;
}
.cc_236{
	background-color: #ffb8ed;
}
.cc_237{
	background-color: #ffa3db;
}
.cc_238{
	background-color: #f7dfe1;
}
.cc_239{
	background-color: #9600fa;
}
.cc_240{
	background-color: #4a1a00;
}
.cc_241{
	background-color: #ff4acc;
}
.cc_242{
	background-color: #000000;
}
.cc_243{
	background-color: #e2a787;
}
.cc_244{
	background-color: #586200;
}
.cc_245{
	background-color: #fae6c0;
}
.cc_246{
	background-color: #5c2c00;
}
.cc_247{
	background-color: #f0e8c4;
}
.cc_248{
	background-color: #e6b577;
}
.cc_249{
	background-color: #b83d00;
}
.cc_250{
	background-color: #a4a6ed;
}
.cc_251{
	background-color: #0500ff;
}
.cc_252{
	background-color: #5ec1f7;
}
.cc_253{
	background-color: #008fff;
}
.cc_254{
	background-color: #0a4fff;
}
.cc_255{
	background-color: #4fedff;
}
.cc_256{
	background-color: #b3fff2;
}
.cc_257{
	background-color: #0048e0;
}
.cc_258{
	background-color: #002675;
}
.cc_259{
	background-color: #002caa;
}
.cc_260{
	background-color: #b8cdd4;
}
.cc_261{
	background-color: #b2d8b4;
}
.cc_262{
	background-color: #87ffad;
}
.cc_263{
	background-color: #c2ffd6;
}
.cc_264{
	background-color: #b7eb00;
}
.cc_265{
	background-color: #686b00;
}
.cc_266{
	background-color: #5a7d57;
}
.cc_267{
	background-color: #3ec200;
}
.cc_268{
	background-color: #f0ff70;
}
.cc_270{
	background-color: #f0ebe9;
}
.cc_271{
	background-color: #fff6d0;
}
.cc_272{
	background-color: #f0f0f0;
}
.cc_273{
	background-color: #000000;
}
.cc_274{
	background-color: #2d393b;
}
.cc_275{
	background-color: #ffffff;
}
.cc_276{
	background-color: #d4cf6e;
}
.cc_277{
	background-color: #aebfa6;
}
.cc_278{
	background-color: #8f8f8f;
}
.cc_279{
	background-color: #2d393b;
}
.cc_280{
	background-color: #96e3ff;
}
.cc_281{
	background-color: #adff69;
}
.cc_282{
	background-color: #8cd000;
}
.cc_283{
	background-color: #e89e00;
}
.cc_285{
	background-color: #7a4228;
}
.cc_290{
	background-color: #00aaa0;
}
.cc_291{
	background-color: #b3fff2;
}
.cc_292{
	background-color: #69edff;
}
.cc_293{
	background-color: #284156;
}
.cc_294{
	background-color: #d19052;
}
.cc_295{
	background-color: #381c00;
}
.cc_296{
	background-color: #b387ff;
}
.cc_297{
	background-color: #4fffa1;
}
.cc_320{
	background-color: #e1df00;
}
.cc_323{
	background-color: #fe663f;
}
.cc_331{
	background-color: #fe535a;
}
.cc_333{
	background-color: #fe10a3;
}
.cc_354{
	background-color: #00afd7;
}
.cc_364{
	background-color: #5ada3c;
}
.cc_370{
	background-color: #ffffff;
}
.cc_400{
	background-image: url("img/400.png");
}
.cc_404{
	background-color: #e70097;
}
.cc_407{
	background-color: #007755;
}
.cc_420{
	background-color: #ffe600;
}
.cc_421{
	background-color: #fffc0d;
}
.cc_422{
	background-color: #ff6400;
}
.cc_423{
	background-color: #ffb83d;
}
.cc_432{
	background-color: #d3225d;
}
.cc_433{
	background-color: #f782ff;
}
.cc_434{
	background-color: #b30098;
}
.cc_436{
	background-color: #e2382a;
}
.cc_440{
	background-color: #7a4228;
}
.cc_450{
	background-color: #633e96;
}
.cc_452{
	background-color: #008fff;
}
.cc_454{
	background-color: #69fff0;
}
.cc_455{
	background-color: #2c57d2;
}
.cc_458{
	background-color: #0031ad;
}
.cc_461{
	background-color: #ccff26;
}
.cc_462{
	background-color: #c2ff6e;
}
.cc_463{
	background-color: #008a4e;
}
.cc_467{
	background-color: #3ec200;
}
.cc_470{
	background-color: #ffffff;
}
.cc_471{
	background-color: #ffffff;
}
.cc_472{
	background-color: #fff7b2;
}
.cc_473{
	background-color: #000000;
}
.cc_496{
	background-color: #00ce9d;
}
.cc_498{
	background-color: #00decc;
}
.cc_507{
	background-color: #998cff;
}
.cc_519{
	background-color: #ffd600;
	background-image: url("img/519.png");
}
.cc_525{
	background-color: #ff943b;
	background-image: url("img/525.png");
}
.cc_532{
	background-image: url("img/532.png");
}
.cc_533{
	background-color: #fc1fff;
	background-image: url("img/533.png");
}
.cc_538{
	background-color: #e00053;
	background-image: url("img/538.png");
}
.cc_539{
	background-color: #2800b0;
}
.cc_540{
	background-color: #381c00;
}
.cc_545{
	background-color: #4a1a00;
}
.cc_555{
	background-image: url("img/555.png");
}
.cc_559{
	background-color: #00227b;
}
.cc_561{
	background-color: #6bff33;
	background-image: url("img/561.png");
}
.cc_563{
	background-color: #baff9e;
}
.cc_565{
	background-color: #407000;
}
.cc_570{
	background-image: url("img/570.png");
}
.cc_571{
	background-color: #fff2b0;
}
.cc_579{
	background-color: #272e20;
}
.cc_582{
	background-image: url("img/582.png");
}
.cc_584{
	background-image: url("img/584.png");
}
.cc_586{
	background-image: url("img/586.png");
}
.cc_587{
	background-image: url("img/587.png");
}
.cc_589{
	background-image: url("img/589.png");
}
.cc_590{
	background-image: url("img/590.png");
}
.cc_592{
	background-color: #009180;
}
.cc_594{
	background-color: #0055fa;
	background-image: url("img/594.png");
}
.cc_598{
	background-color: #00decc;
}
.cc_613{
	background-color: #ff991a;
}
.cc_620{
	background-color: #f7ff26;
}
.cc_621{
	background-color: #ffd600;
}
.cc_622{
	background-color: #fff2b0;
}
.cc_627{
	background-color: #ffb8ed;
}
.cc_631{
	background-color: #ff0f00;
}
.cc_633{
	background-color: #ff6bf7;
}
.cc_635{
	background-color: #b8baff;
}
.cc_638{
	background-color: #e00053;
}
.cc_646{
	background-color: #b08573;
}
.cc_652{
	background-color: #0055c9;
}
.cc_662{
	background-color: #4fff00;
}
.cc_667{
	background-color: #00b33e;
}
.cc_670{
	background-color: #ffffff;
}
.cc_672{
	background-color: #e6ffab;
}
.cc_673{
	background-color: #000000;
}
.cc_678{
	background-color: #525b5c;
}
.cc_691{
	background-color: #bffaff;
}
.cc_713{
	background-color: #ff8a45;
	background-image: url("img/metalic.png");
}
.cc_719{
	background-color: #fff700;
	background-image: url("img/metalic.png");
}
.cc_726{
	background-color: #ffff99;
	background-image: url("img/metalic.png");
}
.cc_732{
	background-color: #e00053;
	background-image: url("img/metalic.png");
}
.cc_733{
	background-color: #f2aaf2;
	background-image: url("img/metalic.png");
}
.cc_746{
	background-color: #735230;
	background-image: url("img/metalic.png");
}
.cc_747{
	background-color: #766a5d;
	background-image: url("img/metalic.png");
}
.cc_750{
	background-color: #ba87ff;
	background-image: url("img/metalic.png");
}
.cc_752{
	background-color: #9cdbff;
	background-image: url("img/metalic.png");
}
.cc_762{
	background-color: #4d8542;
	background-image: url("img/metalic.png");
}
.cc_765{
	background-color: #798200;
	background-image: url("img/metalic.png");
}
.cc_767{
	background-color: #b0ffcc;
	background-image: url("img/metalic.png");
}
.cc_768{
	background-color: #266d3b;
	background-image: url("img/metalic.png");
}
.cc_770{
	background-color: #f0f0f0;
	background-image: url("img/metalic.png");
}
.cc_772{
	background-color: #3b3b3b;
	background-image: url("img/metalic.png");
}
.cc_782{
	background-color: #84878a;
	background-image: url("img/metalic.png");
}
.cc_784{
	background-color: #8f7c4b;
	background-image: url("img/metalic.png");
}
.cc_786{
	background-color: #8b674b;
	background-image: url("img/metalic.png");
}
.cc_787{
	background-color: #93664b;
	background-image: url("img/metalic.png");
}
.cc_790{
	background-color: #bffaff;
	background-image: url("img/metalic.png");
}
.cc_792{
	background-color: #0affe3;
	background-image: url("img/metalic.png");
}
.cc_803{
	background-image: url("img/803.png");
}
.cc_804{
	background-image: url("img/804.png");
}
.cc_805{
	background-image: url("img/805.png");
}
.cc_809{
	background-image: url("img/809.png");
}
.cc_815{
	background-color: #ababab;
}
.cc_869{
	background-color: #f4f4f5;
}
.cc_872{
	background-color: #f4f3c6;
}
.cc_873{
	background-color: #000000;
}
.cc_874{
	background-color: #3e3e3b;
}
.cc_876{
	background-color: #f4f3c6;
	background-image: url("img/876.png");
}
.cc_890{
	background-image: url("img/890.png");
}
.cc_920{
	background-color: #ffe500;
}
.cc_931{
	background-color: #a70836;
	background-image: url("img/metalic.png");
}
.cc_947{
	background-color: #452a12;
	background-image: url("img/metalic.png");
}
.cc_966{
	background-color: #009e46;
	background-image: url("img/metalic.png");
}
.cc_978{
	background-color: #676d71;
	background-image: url("img/metalic.png");
}
.cc_982{
	background-color: #a9aeac;
	background-image: url("img/metalic.png");
}
.cc_984{
	background-color: #e2a44f;
	background-image: url("img/metalic.png");
}
.cc_955{
	background-color: #00286a;
	background-image: url("img/metalic.png");
}
.cc_045{
	background-color: #361500;
}
.cc_046{
	background-color: #361500;
}
.cc_047{
	background-color: #ab4800;
}
.cc_048{
	background-color: #a14c00;
}
.cc_049{
	background-color: #e89e00;
}
.cc_086{
	background-color: #ca9941;
}
.cc_144{
	background-color: #9bcbeb;
}
.cc_159{
	background-color: #7f9c90;
}
.cc_114{
	background-color: #d2ce9e;
}
.cc_169{
	background-color: #b2b4b2;
}
.cc_853{
	background-color: #4f2c1d;
}
.cc_854{
	background-color: #ffffff;
}
.cc_811{
	background-image: url('img/811.png');
}
.cc_814{
	background-image: url('img/814.png');
}
.cc_102{
	background-image: url('img/102.png');
}
.cc_103{
	background-image: url('img/103.png');
}
.cc_918{
	background-color: #ffff00;
}
.cc_919{
	background-color: #FFF219;
}
.cc_917{
	background-color: #FFD400;
}
.cc_921{
	background-color: #FFA800;
}
.cc_924{
	background-color: #FF9100;
}
.cc_925{
	background-color: #FF6633;
}
.cc_922{
	background-color: #FF3319;
}
.cc_927{
	background-color: #FF2614;
}
.cc_936{
	background-color: #E61C21;
}
.cc_937{
	background-color: #BA0900;
}
.cc_911{
	background-color: #D10538;
}
.cc_912{
	background-color: #AE0544;
}
.cc_934{
	background-color: #A71D3D;
}
.cc_914{
	background-color: #BE198F;
}
.cc_904{
	background-color: #971A8E;
}
.cc_905{
	background-color: #B52AC3;
}
.cc_939{
	background-color: #2900CC;
}
.cc_935{
	background-color: #9E73FF;
}
.cc_950{
	background-color: #1919FF;
}
.cc_951{
	background-color: #000F99;
}
.cc_957{
	background-color: #337DF7;
}
.cc_954{
	background-color: #0059FF;
}
.cc_958{
	background-color: #0024B2;
}
.cc_953{
	background-color: #133077;
}
.cc_993{
	background-color: #20263D;
}
.cc_994{
	background-color: #003157;
}
.cc_952{
	background-color: #1165B4 ;
}
.cc_956{
	background-color: #0080FF ;
}
.cc_998{
	background-color: #00797E ;
}
.cc_996{
	background-color: #197144 ;
}
.cc_969{
	background-color: #1E4533 ;
}
.cc_964{
	background-color: #07CC38 ;
}
.cc_976{
	background-color: #008A2E ;
}
.cc_960{
	background-color: #19FF19 ;
}
.cc_961{
	background-color: #00B200 ;
}
.cc_968{
	background-color: #405D03 ;
}
.cc_962{
	background-color: #708400 ;
}
.cc_942{
	background-color: #CFC7B2 ;
}
.cc_971{
	background-color: #FFE6B0 ;
}
.cc_940{
	background-color: #D77E14 ;
}
.cc_928{
	background-color: #CC8033 ;
}
.cc_941{
	background-color: #A45A2D ;
}
.cc_903{
	background-color: #DB9C70 ;
}
.cc_929{
	background-color: #FFC7A8 ;
}
.cc_908{
	background-color: #8B3836 ;
}
.cc_944{
	background-color: #6A2629 ;
}
.cc_946{
	background-color: #483835 ;
}
.cc_948{
	background-color: #39302C ;
}
.cc_945{
	background-color: #383B2D ;
}
.cc_943{
	background-color: #464035 ;
}
.cc_979{
	background-color: #496167 ;
}
.cc_980{
	background-color: #173945 ;
}
.cc_972{
	background-color: #F5F5EB ;
}
.cc_902{
	background-color: #FCFCF5 ;
}
.cc_970{
	background-color: #FCFCFC ;
}
.cc_973{
	background-color: #1B1B22 ;
}
.cc_974{
	background-color: #141417 ;
}
.cc_520{
	background-image: url("img/520.png");
}
.cc_524{
	background-image: url("img/524.png");
}
.cc_531{
	background-image: url("img/531.png");
}
.cc_534{
	background-image: url("img/534.png");
}
.cc_560{
	background-image: url("img/560.png");
}
.cc_581{
	background-image: url("img/581.png");
}
.cc_583{
	background-image: url("img/583.png");
}
.cc_585{
	background-image: url("img/585.png");
}
.cc_595{

	background-image: url("img/595.png");
}
.cc_596{
	background-image: url("img/596.png");
}
.cc_599{
	background-image: url("img/599.png");
}